@import '../../scss/config';

@mixin transition($color) {
  background-color: $color;
  transition: ease-in 0.03s;
}

@mixin background($color, $bg) {
  color: $color;
  background-color: $bg;
}

.md {
  width: rem(160);
  height: rem(48);
}

.primary {
  @include background($white, $brick);
  &:hover {
    @include transition($lighterBrick);
  }
}

.secondary {
  @include background($white, $black);
  &:hover {
    @include transition($strongerGrey);
  }
}

.outline {
  @include background($black, transparent);
  border: 1px solid $black;
  &:hover {
    color: $white;
    @include transition($black);
  }
}

.link {
  color: $ligtherBlack;
  background-color: transparent;
  &:hover {
    color: $lighterBrick;
    transition: ease-in 0.03s;
  }
}
