@import '../../scss/config';

.container {
  @include flexbox($direction: column, $align: center);
  background-color: $ligtherGrey;
  text-transform: uppercase;
}

.image {
  margin-top: rem(-50);
  width: rem(165);
  height: rem(165);
}
