@import '../../../../scss/config';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $ligtherBlack;
  min-height: rem(102);
  width: 100%;
  color: $white;
  text-transform: uppercase;

  @include breakpoint-up(medium) {
    height: rem(336);
  }
}
