@import './sass/config';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font-family;
  line-height: $line-height;
  font-weight: $medium;
  @include font-size($body-font-sizes);
  overflow-x: hidden;
}

h1 {
  @include font-size($h1-font-sizes);
  font-weight: $bold;
}

h2 {
  @include font-size($h2-font-sizes);
  font-weight: $bold;
}

h3 {
  @include font-size($h3-font-sizes);
  font-weight: $bold;
}

h4 {
  @include font-size($h4-font-sizes);
  font-weight: $bold;
}

h5 {
  @include font-size($h5-font-sizes);
  font-weight: $bold;
}

h6 {
  @include font-size($h6-font-sizes);
  font-weight: $bold;
}

.overline {
  @include font-size($overline-font-sizes);
}

.subtitle {
  @include font-size($subtitle-font-sizes);
  font-weight: $bold;
}
