@import '../scss/config';

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  max-width: rem(1110);
  width: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
